<main>
	<div class="showup">
		<div class="showcontainer clearfix">
			<div class="show-right">
				<span class="fas fa-male human"></span><br>
				<a href="/logout" style="color: white; font-size: 20px;">logout</a>
			</div>
			<div class="showmodal">
				<%= attachment_image_tag @current_user, :profile_image, :fill, 80, 80, fallback: "/assets/noimage.png", class: "modalphoto" %>
				<div class="modalname">名前：<%= @current_user.name %></div>
				<span class="modalintro">自己紹介文</span>
				<div class="modalintroduce"><%= @current_user.one_talk %></div>
				<input type="button" class="modalclass btn btn-info" id="modalid" value="編集">
				<div class="modol" style="cursor: pointer;display: inline-block;">戻る</div>



				<%= form_for @user, html: {id: 'updateform'} do |f| %>
					<div class="updatename">
						<label>名前：</label><%= f.text_field :name %>
					</div>
					<div class="updatephoto">
						<%= f.attachment_field :profile_image%>
					</div>
					<div class="updateone">
						<%= f.text_area :one_talk %>
					</div>
					<div class="upsub">
						<%= f.submit :"編集", class: "btn btn-info" %>
					</div>
				<% end %>
			</div>
			<h1>Your Ronnies</h1>
			<p>Life is the best story</p>
			<div class="showbtn">
				<a href="/events/new">Create Event</a>
			</div>
			

		</div>
	</div>
	<div class="showbottom">
		<div class="showcontainer">
			
			<div class="event-space">
				<ul>
					<% @eventuser.each do |eventuser| %>
					<%= link_to event_posts_path(eventuser.event.id) do %>
						<li>
							<div class="left">
								<%= attachment_image_tag eventuser.event, :image, :fill, 100, 100, fallback: "/assets/noima.png" %>
							</div>
							<div class="right">
								<span><%= eventuser.event.event_name %></span>
							</div>
						</li><% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</main>

<script type="text/javascript">
	$(function() {
		var i = 0;
		$('#updateform').hide();
		$('.human').click(function() {
			if (i==0) {
	 			$('.showmodal').css("display", "block");
	 			i++;
	 		} else {
	 			$('.showmodal').css("display", "none");
	 			i--;
	 		}
	 	});
	 	$('.modol').click(function() {
	 		if (i==0) {
	 			$('.showmodal').css("display", "none");
	 			i++;
	 		} else {
	 			$('#updateform').hide();
	 			$('.modalphoto').show();
	 			$('.modalname').show();
	 			$('.modalintro').show();
	 			$('.modalintroduce').show();
	 			$('.modalclass').show();
	 			i--;
	 		}
	 	})
	 	$('#modalid').click(function() {
	 		$('.modalphoto').hide();
	 		$('.modalname').hide();
	 		$('.modalintro').hide();
	 		$('.modalintroduce').hide();
	 		$('.modalclass').hide();
	 		$('#updateform').show();
	 	})
	})
 if(gon.count == 0) {
 	$('.event-space').hide();
 } else {
 	$('.event-space').show();
 }
 	

</script>

<style type="text/css">


.modalintroduce {
	height: 120px;
	width: 200px;
	margin: 0 auto;
	word-break: break-word;
}

.modalclass {

	bottom: 5;
}

.modalintro {
	margin-top: 20px;
	font-size: 30px;
	display: block;
}

.modalname {
	font-size: 30px;
}

.modalphoto, .updatename, .updatephoto, .updateone, .upsub {
	margin-top: 20px;
}

.showmodal {
	width: 280px;
	height: 400px;
	z-index: 20;
	background-color: white;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 150px;
	position: fixed;
	border-radius: 20px;
	border: 1px solid black;
	display: none;
}

.show-right {
	float: right;
	margin: 20px 50px 0 0;
	z-index: 200;
}

.human {
	font-size: 100px;
	cursor: pointer;
}

.left, .right {
	display: inline-block;
}
.right {
	position: absolute;
	padding-left: 20px;
	top: 22px;
}

.event-space li {
	height: 100px;
	text-align: left;
	padding-left: 20px;
	position: relative;
	margin: 10px 0;
}

.event-space span {
	font-size: 22px;
	display: inline-block;
	color: white;
}

.event-space {
	width: 400px;
	height: 300px;
	background-color: rgba(250, 250, 250, 0);
	margin: 0 auto;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	overflow: scroll;
}

.showup {
	width: 100%;
	background-image: url("/assets/show5.jpg");
	height: 500px;
	background-position: center;
	background-size: cover;
	text-align: center;
}
.showbottom {
	width: 100%;
	background-image: url("/assets/show6.jpg");
	background-position: center;
	background-size: cover;
	height: 500px;
	text-align: center;
}

.showcontainer {
	width: 100%;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.3);
}

.showup h1 {
	font-size: 72px;
	padding-top: 120px;
	color: white;
	text-align: center;
}

.showup p {
	font-size: 32px;
	color: white;
}


.showbtn a {
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
	border: 2px solid white;
	padding: 18px 30px;
	margin-top: 30px;
	text-decoration: none;
	transition: all 1s;
	font-size: 130%;
}

.showbtn a:hover {
	font-size: 130%;
	background-color: #4387E9;
	border: none;
	color: white;
}



</style>