<h1>events#edit</h1>
<%= form_for(@event) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :event_name %>
	<h5>image</h5>
	<%= f.attachment_field :image %>
	<h5>password</h5>
	<%= f.text_area :event_password %>
	<%= f.submit 'update' %>
<% end %>