<h1>events#new</h1>
<%= form_for(@event) do |f| %>
	<h5>name</h5>
	<%= f.text_field :name %>
	<h5>image</h5>
	<%= f.attachment_field :image %>
	<h5>password</h5>
	<%= f.text_area :pass %>
	<%= f.submit 'Create' %>
<% end %>