<section class="top">
    <div class="wrapper">
        <h1>Ronnies</h1>
        <p>Ronniesは、一生忘れることのないサプライズを<br>演出するサイトです。関係のある沢山の人と<br>沢山の思い出を共有して、最高の別れを演出しましょう！</p>
        <%= video_tag("sample.mp4", :autoplay => true, :loop => true, class: 'top-video')%>
    </div>
</section>

ここにフォーム二個
<%= form_tag(users_path) do %>
	<label>ユーザー名</label>
	<input name="name" value="<%= %>">
	<label>パスワード</label>
	<input type="password" name="password" value="<%=  %>">
	<input type="submit" value="新規登録">
<% end %>

<%= form_tag("login") do %>
	<label>ユーザー名</label>
	<input name="name" value="<%=  %>">
	<label>パスワード</label>
	<input type="password" name="password" value="<%=  %>">
	<input type="submit" value="ログイン">
<% end %>

<% if session[:user_id] %>
	aaa
<% end %>