ここにフォーム二個


<%= form_tag("login") do %>
	<label>ユーザー名</label>
	<input name="name" value="<%=  %>">
	<label>パスワード</label>
	<input type="password" name="password" value="<%=  %>">
	<input type="submit" value="ログイン">
<% end %>


<%= form_for(@user) do |f| %>
	<%= f.text_field :name %>
	<input type="password" name="user[password]">
	<%= f.attachment_field :profile_image %>
	<%= f.text_area :one_talk %>
	<%= f.submit :aa %>
<% end %>


