<article id="home">
<div class="hero">
	<div class="pageNo">
		<h1 class="header_title"><span>Post detail List</span></h1>
	</div>
</div>

<div class="back">

	<h1 class="event-title panel panel-primary"><%= @post.title %></h1>

<div class='row'>
  <div class='col-xs-1'></div>
  <div class='col-xs-2'>
  	<p><br></p>

<%= form_for @post_comment, url: event_post_post_comments_path(@a, @post) do |f| %>
<%= f.label :コメントを投稿しよう %>
<p><br></p>
  <%= f.text_area :comment, class: 'col-xs-10' %>
  <p><br></p>
    <div class="actions row">
    <h1><%= f.submit class: 'btn btn-primary col-xs-10'%></h1>
  </div>
<% end %>
</div>
<p><br></p>
<div class='col-xs-8'>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>Profile_Image</th>
      <th>Name</th>
      <th>Date</th>
      <th>Comment</th>
      <th colspan="4"></th>
    </tr>
  </thead>

<tbody>

<% @post.post_comments.each do |post_comment| %>
 <tr>
      <td class="table-item">
  <br>
  <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %>
  </td>
  <td class="table-item"><%= post_comment.user.name %></td>
  <td class="table-item"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
  <td class="table-item"><%= post_comment.comment %></td>
  <% if post_comment.user == @current_user %>
          <td><%= link_to 'Destroy', event_post_post_comment_path(post_comment, @a), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn-sm btn-danger'%></td>
        <% end %>
  </tr>
<% end %>
</tbody>
</table>

<p><br></p>


</div>
<div class='col-xs-1'>
</div>




</div>